@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    position: fixed;
    width: 100%;
    font-family: 'ubuntu',sans-serif;
    padding: 30px 0;
    background-color: black;
    transition: 0.3s;
    z-index: 999;
}
.navbar.sticky{
    padding: 25px 0;
    background-color:crimson;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    font-size: 35px;
    font-weight: 600;
    color: #fff;
}
.navbar .logo a span{
    color: crimson;
    transition: 0.3s;
}
.navbar.sticky .logo a span{
    color: white;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a:hover{
    color: white;
}

.home{
    display: flex;
    background: url("C:/Users/user/Pictures/courier project/portfolio1.png") no-repeat center;
    height: 100vh;
    color: #fff;
    font-family: 'ubuntu',sans-serif;
    background-color:black;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    font-weight: 500;
    color: crimson;
}
.home .home-content a{
    display:inline-block;
    background-color: crimson;
    color: whitesmoke;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 8px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: crimson;
    background: none;
}

section{
    padding: 100px 0;
}
.about .tittle::after{
    content: "who i am";
}
.skills .tittle::after{
    content: "what i know";
}
.contact .tittle::after{
    content:"get in touch";
}
.about, .skills, .teams, .contact, footer{
    font-family: 'Poppins',sans-serif;
}
section .tittle{
    position: relative;
    font-family: 'ubuntu',sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}
section .tittle::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background:black;
    transform: translateX(-50%);
}
section .tittle::after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background:#fff;
    transform: translateX(-50%);
}
.about .about-content,.skills .skills-content, .contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
}
.about .about-content .right{
    width: 55%;
    line-height: 35px;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: crimson;
}
.about .about-content .right p{
    text-align:justify;
}
.about .about-content .right a{
    display:inline-block;
    background-color: crimson;
    color: whitesmoke;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 8px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: crimson;
    background: none;
}

.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left{
    line-height: 30px;
}
.skills .skills-content .left .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background-color: lightgray;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: crimson;
}
.skills .skills-content .right .c::before{
    width: 50%;
}
.skills .skills-content .right .python::before{
    width: 80%;
}
.skills .skills-content .right .java::before{
    width: 80%;
}
.skills .skills-content .right .kotlin::before{
    width: 60%;
}
.skills .skills-content .right .html::before{
    width: 90%;
}
.skills .skills-content .right .php::before{
    width: 80%;
}
.skills .skills-content .right .angular::before{
    width: 50%;
}
.skills .skills-content .right .robot::before{
    width: 80%;
}



.teams .tittle::after{
    content: "who with me";
}
.teams{
    color: #fff;
    background: #111;
}
.teams .tittle::before{
    background: #fff;
}
.teams .tittle::after{
    background: #111;
}
.teams .carousel .card{
    background: #222;
    border-radius: 7px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover{
    background: crimson;
}
.teams .carousel .card:hover .box{
    transform: scale(1.1);
}
.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.teams .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.teams .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid crimson;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover img{
    border-color: white;
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: crimson;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{

    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins',sans-serif;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button{
    height: 47px;
    width: 170px;
}
.contact .right form .button button{
    height: 100%;
    width: 100%;
    border: 2px solid crimson;
    background: crimson;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right form .button button:hover{
color: crimson;
background: none;
}
footer{
    background: black;
    padding: 20px 23px;
    color: white;
}
footer span a{
    color: crimson;
}
footer span a:hover{
    text-decoration: underline;
}
.contact .column .right .text{
    padding-top: 0%;
} 






@media(max-width:947px){
    .about .about-content .column{
        width: 100%;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width:100%;
        margin-bottom: 35px;
    }
    
    .about .about-content .left{
        display: flex;
        justify-content: center;
    }
    .max-width{
        padding: 0 50px;
    }
    .menu-btn{
        color: #fff;
        font-size: 23px;
        cursor: pointer;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background-color: #111;
        text-align: center;
        padding-top: 80px;
        transition:all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
}